:root {
  --Light-Green: $Light-Green;
  --Deep-Green: $Deep-Green;
  --Light-Blue: $Light-Blue;
  --Deep-Blue: $Deep-Blue;
  --Light-Purple: $Light-Purple;
  --Main-Background-Color: $Main-Background-Color;
  --Box-Shadow: $Box-Shadow;
}

.fa-solid {
  color: #353535;
  font-weight: 900;
}

body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

/*** LOADER ***/
.loadingScreen {
  padding-top: -20px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideElement 1s forwards 1s;
}
.loadingScreen .loader {
  margin: auto;
  border: 8px solid #FF79DA;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.75, 0.25, 0.83, 0.67);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.07, 0.68, 0.83, 0.67);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideElement {
  to {
    display: none;
  }
}
/*** HEADER ***/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  margin-left: 20px;
}
.header__location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
  box-shadow: 3px 3px 10px darkgrey;
  border-top: solid 2px lightgrey;
}
.header__location--title {
  padding-left: 20px;
}
.header__location .fa-location-dot {
  margin-right: 8px;
}

/*** Explore ***/
.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
.explore__content {
  width: 80%;
  margin: auto;
  text-align: center;
}
.explore__title {
  margin-bottom: -5px;
}
.explore__subtitle {
  padding-bottom: 20px;
}
.explore__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 15px;
  border-radius: 3rem 3rem;
  box-shadow: 3px 3px 10px lightgrey;
  margin: auto;
  transition: 500ms;
  opacity: 1;
}
.explore__button:hover {
  cursor: pointer;
  transition: 500ms;
  opacity: 0.8;
  box-shadow: 6px 6px 10px lightgrey;
}

/*** Fonctionnement ***/
.fonctionnement {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.fonctionnement__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px lightgrey;
  border-radius: 1rem;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
.fonctionnement__number--circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}
.fonctionnement__number--circle .fonctionnement__number {
  color: white;
}
.fonctionnement__mobile__logo--purple {
  color: #9356DC;
}
@media (min-width: 1023px) {
  .fonctionnement {
    margin-left: 8%;
    margin-right: 8%;
  }
  .fonctionnement__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}

/*** RESTAURANTS ***/
#restaurants {
  padding-top: 40px;
  background-color: #f2f2f2;
  padding-bottom: 40px;
}
#restaurants .restaurants__title {
  margin: 20px;
}
@media (min-width: 1023px) {
  #restaurants .restaurants__title {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media (min-width: 1023px) {
  #restaurants .restaurants__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 6.5%;
    margin-right: 8%;
    gap: 20px;
  }
}
#restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 20px;
  background-color: white;
  height: 250px;
  position: relative;
  padding-bottom: 10px;
}
#restaurants .restaurants__cards--image {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 75%;
}
#restaurants .restaurants__cards--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#restaurants .restaurants__cards--text {
  display: flex;
  flex-direction: column;
}
#restaurants .restaurants__cards--title {
  margin-bottom: -10px;
  padding-left: 10px;
  font-size: 18px;
}
#restaurants .restaurants__cards--subtitle {
  padding-left: 10px;
}
#restaurants .restaurants__cards--icon {
  position: relative;
  font-size: 22px;
  padding-right: 20px;
  z-index: 1;
}
#restaurants .restaurants__cards--liked {
  position: relative;
  padding-right: 10px;
  margin-left: -42px;
  font-size: 22px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: 500ms;
}
#restaurants .nouveau {
  color: #008766;
  background-color: #99E2D0;
  border-radius: 0.1rem;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}
#restaurants .heart:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#restaurants .heart:hover + .restaurants__cards--liked {
  transform: scale(1);
  transition: 300ms ease-in-out;
}

/*** FOOTER ***/
.footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  padding-bottom: 40px;
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  margin-left: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}
.footer__list--li {
  padding-bottom: 5px;
}
.footer__list--icon, .footer__list--text {
  color: white;
}
.footer__list--text {
  color: white;
  text-decoration: none;
}
.footer__list--text:hover {
  text-decoration: underline;
}
@media (min-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 114px;
    padding: 0;
  }
  .footer__title {
    padding-right: 10px;
  }
  .footer__list {
    list-style: none;
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
  .footer__list li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
