:root {
    --Light-Green : #99E2D0;
    --Deep-Green : #008766;
    --Light-Blue : #89C8FA;
    --Deep-Blue : #003A68;
    --Light-Purple : #9356DC;
    --Main-Background-Color : #f2f2f2;
    --Box-Shadow : lightgrey;
}

.fa-solid {
    color: #353535;
    font-weight: 900;
}

body {
    padding-top: 20px;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}

/********** HEADER **************/


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 100%;
}

.header__logo {
    padding-bottom: 15px;
}

.header__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    color: #353535;
    width: 100%;
    box-shadow: 3px 3px 10px darkgrey;
    border-top: solid 2px var(--Box-Shadow);
}

.header__location--title {
    padding-left: 20px;
}

/**** MAIN ****/

/**** EXPLORE ****/

.explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--Main-Background-Color);
}

.explore__content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.explore__title {
    margin-bottom: -5px;
}

.explore__subtitle {
    padding-bottom: 20px;
}

.explore__button {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    padding: 15px;
    border-radius: 3rem 3rem;
    box-shadow: 3px 3px 10px var(--Box-Shadow);
    margin: auto;
    transition: 500ms;
    opacity: 1;

}

.explore__button:hover {
    cursor: pointer;
    transition: 500ms;
    opacity: .8;
    box-shadow: 6px 6px 10px var(--Box-Shadow);
}



/**** FONCTIONNEMENT ****/

.fonctionnement {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fonctionnement__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--Main-Background-Color);
    box-shadow: 3px 3px 5px var(--Box-Shadow) ;
    border-radius: 1rem;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.fonctionnement__number--circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--Light-Purple);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
}

.fonctionnement__number {
    color: white;
}

.fonctionnement__mobile__logo--purple {
    color: var(--Light-Purple);
}

@media (min-width: 1023px ) {
    .fonctionnement {
        margin-left: 8%;
        margin-right: 8%;
    }

    .fonctionnement__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}

/**** RESTAURANTS ****/

#restaurants {
    padding-top: 40px;
    background-color: var(--Main-Background-Color);
    padding-bottom: 40px;
}

.restaurants__title {
    margin: 20px;
}

.restaurants__cards {
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 20px;
    background-color: white;
    height: 250px;
    position: relative;
    padding-bottom: 10px;
}

.retaurants__cards--image {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 75%;
}

.restaurants__cards--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restaurants__cards--text {
    display: flex;
    flex-direction: column;
}

.restaurants__cards--title {
    margin-bottom: -10px;
    padding-left: 10px;
    font-size: 18px;
}

.restautants__cards--subtitle {
    padding-left: 10px;
}

.restaurants__cards--icon {
    font-size: 22px;
    padding-right: 20px;
}

.restaurants__cards--liked {
    margin-left: -46px;
    font-size: 23px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nouveau {
    color: var(--Deep-Green);
    background-color: var(--Light-Green);
    border-radius: 0.1rem;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.restaurants__cards--icon {
    position: relative;
    font-size: 22px;
    padding-right: 20px;
    z-index: 1;
}

.restaurants__cards--liked {
    position: relative;
    padding-right: 10px;
    margin-left: -42px;
    font-size: 22px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}

.heart:hover {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart:hover + .restaurants__cards--liked {
        transform: scale(1);
        transition: 300ms ease-in-out;
}


@media (min-width: 1023px ) {

    .restaurants__title {
        margin-left: 8% ;
        margin-right: 8%;
    }

    .restaurants__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 6.5% ;
        margin-right: 8%;
        gap: 20px;
    }

}


/**** FOOTER ****/

.footer {
    background-color: #353535;
    color: white;
    padding: 10px;
    padding-bottom: 40px;
}

.footer__title {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    margin-left: 20px;
  }

.footer__list {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

.footer__list--li {
    padding-bottom: 5px;
}

.footer__list--icon { 
    color: white;
}

.footer__list--text { 
    color: white;
}

@media (min-width: 1023px ) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        height: 114px;
        padding: 0;
    }

    .footer__title {
        padding-right: 10px;
    }

    ul.footer__list {
        list-style: none;
        display: inline-block;
        padding: 1rem 2rem;
        margin-top: 1rem;
      }
      
      ul.footer__list li {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        padding-left: 20px;
      }
}



